-
  var devices = {
    "iPhone-4": [320, 480],
    "iPhone-5s-5-SE": [320, 568],
    "XPERIA": [360, 640],
    "iPhone-8-7-6s-6": [375, 664],
    "iPhone-8-7-6s-6-Plus": [414, 736],
    "iPhone-XS-X": [375, 812],
    "iPhone-XS-Max_XR": [414, 896],
    "iPad": [768, 1024],
    "iPad-Pro-10_5": [834, 1112],
    "iPad-Pro-11": [834, 1194],
    "iPad-Pro-12_9": [1024, 1366]
  }
  var pc = [
    [1024, 768],
    [1280, 1024],
    [1366, 768],
    [1440, 900],
    [1440, 1080],
    [1536, 864],
    [1600, 900],
    [1920, 1080],
    [1920, 1200],
    [1920, 1280],
    [2048, 1080],
    [2160, 1440],
    [2560, 1440],
    [2736, 1824],
    [4096, 2160]
  ]

<!DOCTYPE html>
html
  head
    meta(charset="utf-8")
    link(rel="stylesheet", href="css/style.css")

  body
    header#header
      #logo responsive
      #tool-bar
        #switch-device-mode
          #mobile-mode.select mobile
          #pc-mode PC
        #rotate-icon
          img(src="img/mobile-icon.png")

    #wrap
      each val, name in devices
        .item
          .frame-header
            .name #{ name }
            .size.vertical #{ val[0]}x#{ val[1]}
            .size.horizontal #{ val[1]}x#{ val[0]}
          .frame-parent(class=name)
            iframe.frame(src="aiueo.html")

      each val, index in pc
        .item.pc
          .frame-header
            .size.vertical #{ val[0]}x#{ val[1]}
          - var n = index + 1
          .frame-parent(class='pc-' + n)
            iframe.frame(src="aiueo.html")



    script(type="text/javascript", src="js/build/main.js")
